/*==========================================*/
/*========== ORION DICE DECIDE =============*/
/* www.jamespankhurst.co.uk/odd1            */
/* jamespankhurst180@gmail.com              */
/* sample code: github.com/jamespankhurst   */
/* repository: gitlab.com/jamespankhurst180 */
/*==========================================*/

/*---- BACKGROUND PANEL ANIMATION DIVS ----*/
#or1_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or1_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }

#or2_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or2_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }

#or3_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or3_final { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }

#or4_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#or4_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }

#as1_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as1_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }

#as2_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as2_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }

#as3_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as3_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }

#as4_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }
#as4_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 200px; }

#py1_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py1_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }

#py2_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py2_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }

#py3_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py3_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }

#py4_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#py4_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }

/*==========================================================================================*/


#i_or1_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_or1_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }


#i_or1_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_25 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_26 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_27 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_28 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_29 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_30 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_31 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_32 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_33 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_34 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_35 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_36 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_37 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_38 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_39 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_40 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_41 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_42 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_43 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_44 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_45 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_46 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_47 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_48 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_49 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_50 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_51 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_52 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_53 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_54 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_55 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_56 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_57 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_58 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_59 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_60 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or1_final { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }

#i_or2_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_25 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_26 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_27 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_28 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_29 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_30 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_31 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_32 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_33 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_34 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_35 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_36 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_37 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_38 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_39 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_40 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_41 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_42 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_43 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_44 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_45 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_46 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_47 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_48 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_49 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_50 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_51 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_52 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_53 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_54 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_55 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_56 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_57 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_58 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_59 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_60 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or2_final { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }



#i_or3_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or3_final { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }


#i_or4_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }
#i_or4_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 150px; }


#i_sh1_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_sh1_final { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }

#i_ho1_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ho1_final { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }


#i_ey1_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }
#i_ey1_final { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; }


#i_py1_0 { display: block; }
#i_py1_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py1_final { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }

#i_py2_0 { display: block; }
#i_py2_1 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_2 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_3 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_4 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_5 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_6 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_7 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_8 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_9 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_10 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_11 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_12 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_13 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_14 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_15 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_16 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_17 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_18 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_19 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_20 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_21 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_22 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_23 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_24 { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }
#i_py2_final { display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 120px; }


