/*==============================*/
/*===== ORION DICE DECIDE ======*/
/* www.jamespankhurst.co.uk/odd */
/* jamespankhurst180@gmail.com  */
/*==============================*/

/*==========*/
/* DICE_ANI */
/*==========*/
#dice_roll { position: relative; top: 100px; left: 150px; display: block; }
#f_end { position: absolute; display: none;}
#f_1 { position: absolute; display: none; }
#f_2 { position: absolute; display: none; }
#f_3 { position: absolute; display: none; }
#f_4 { position: absolute; display: none; }
#f_5 { position: absolute; display: none; }
#f_6 { position: absolute; display: none; }
#f_7 { position: absolute; display: none; }
#f_8 { position: absolute; display: none; }
#f_9 { position: absolute; display: none; }
#f_10 { position: absolute; display: none; }
#f_11 { position: absolute; display: none; }
#f_12 { position: absolute; display: none; }
#f_13 { position: absolute; display: none; }
#f_14 { position: absolute; display: none; }
#f_15 { position: absolute; display: none; }
#f_16 { position: absolute; display: none; }
#f_17 { position: absolute; display: none; }
#f_18 { position: absolute; display: none; }
#f_19 { position: absolute; display: none; }
#f_20 { position: absolute; display: none; }
#f_21 { position: absolute; display: none; }
#f_22 { position: absolute; display: none; }
#f_23 { position: absolute; display: none; }
#f_24 { position: absolute; display: none; }
#f_25 { position: absolute; display: none; }
#f_26 { position: absolute; display: none; }
#f_27 { position: absolute; display: none; }
#f_28 { position: absolute; display: none; }
#f_29 { position: absolute; display: none; }
#f_30 { position: absolute; display: none; }
#f_31 { position: absolute; display: none; }
#f_32 { position: absolute; display: none; }
#f_33 { position: absolute; display: none; }
#f_34 { position: absolute; display: none; }
#f_35 { position: absolute; display: none; }
#f_36 { position: absolute; display: none; }
#f_37 { position: absolute; display: none; }
#f_38 { position: absolute; display: none; }
#f_39 { position: absolute; display: none; }
#f_40 { position: absolute; display: none; }
#f_41 { position: absolute; display: none; }
#f_42 { position: absolute; display: none; }
#f_43 { position: absolute; display: none; }
#f_44 { position: absolute; display: none; }
#f_45 { position: absolute; display: none; }
#f_46 { position: absolute; display: none; }
#f_47 { position: absolute; display: none; }
#f_48 { position: absolute; display: none; }
#f_49 { position: absolute; display: none; }
#f_50 { position: absolute; display: none; }
#f_51 { position: absolute; display: none; }
#f_52 { position: absolute; display: none; }
#f_53 { position: absolute; display: none; }
#f_54 { position: absolute; display: none; }
#f_55 { position: absolute; display: none; }
#f_56 { position: absolute; display: none; }
#f_57 { position: absolute; display: none; }
#f_58 { position: absolute; display: none; }
#f_59 { position: absolute; display: none; }
#f_60 { position: absolute; display: none; }
#f_61 { position: absolute; display: none; }
#f_62 { position: absolute; display: none; }
#f_63 { position: absolute; display: none; }
#f_64 { position: absolute; display: none; }
#f_65 { position: absolute; display: none; }
#f_66 { position: absolute; display: none; }
#f_67 { position: absolute; display: none; }
#f_68 { position: absolute; display: none; }
#f_69 { position: absolute; display: none; }
#f_70 { position: absolute; display: none; }
#f_71 { position: absolute; display: none; }
#f_72 { position: absolute; display: none; }
#f_73 { position: absolute; display: none; }
#f_74 { position: absolute; display: none; }
#f_75 { position: absolute; display: none; }
#f_76 { position: absolute; display: none; }
#f_77 { position: absolute; display: none; }
#f_78 { position: absolute; display: none; }
#f_79 { position: absolute; display: none; }
#f_80 { position: absolute; display: none; }
#f_81 { position: absolute; display: none; }
#f_82 { position: absolute; display: none; }
#f_83 { position: absolute; display: none; }
#f_84 { position: absolute; display: none; }
#f_85 { position: absolute; display: none; }
#f_86 { position: absolute; display: none; }
#f_87 { position: absolute; display: none; }
#f_88 { position: absolute; display: none; }
#f_89 { position: absolute; display: none; }
#f_90 { position: absolute; display: none; }
#f_91 { position: absolute; display: none; }
#f_92 { position: absolute; display: none; }
#f_93 { position: absolute; display: none; }
#f_94 { position: absolute; display: none; }
#f_95 { position: absolute; display: none; }
#f_96 { position: absolute; display: none; }
#f_97 { position: absolute; display: none; }
#f_98 { position: absolute; display: none; }
#f_99 { position: absolute; display: none; }
#f_100 { position: absolute; display: none; }
#f_101 { position: absolute; display: none; }
#f_102 { position: absolute; display: none; }
#f_103 { position: absolute; display: none; }
#f_104 { position: absolute; display: none; }
#f_105 { position: absolute; display: none; }
#f_106 { position: absolute; display: none; }
#f_107 { position: absolute; display: none; }
#f_108 { position: absolute; display: none; }
#f_109 { position: absolute; display: none; }
#f_110 { position: absolute; display: none; }
#f_111 { position: absolute; display: none; }
#f_112 { position: absolute; display: none; }
#f_113 { position: absolute; display: none; }
#f_114 { position: absolute; display: none; }
#f_115 { position: absolute; display: none; }
#f_116 { position: absolute; display: none; }
#f_117 { position: absolute; display: none; }
#f_118 { position: absolute; display: none; }
#f_119 { position: absolute; display: none; }
#f_120 { position: absolute; display: none; }


#i_dice_roll { position: relative; top: 30px; left: 140px; display: block; }
#i_f_end { position: absolute; display: none;}
#i_f_1 { position: absolute; display: none; }
#i_f_2 { position: absolute; display: none; }
#i_f_3 { position: absolute; display: none; }
#i_f_4 { position: absolute; display: none; }
#i_f_5 { position: absolute; display: none; }
#i_f_6 { position: absolute; display: none; }
#i_f_7 { position: absolute; display: none; }
#i_f_8 { position: absolute; display: none; }
#i_f_9 { position: absolute; display: none; }
#i_f_10 { position: absolute; display: none; }
#i_f_11 { position: absolute; display: none; }
#i_f_12 { position: absolute; display: none; }
#i_f_13 { position: absolute; display: none; }
#i_f_14 { position: absolute; display: none; }
#i_f_15 { position: absolute; display: none; }
#i_f_16 { position: absolute; display: none; }
#i_f_17 { position: absolute; display: none; }
#i_f_18 { position: absolute; display: none; }
#i_f_19 { position: absolute; display: none; }
#i_f_20 { position: absolute; display: none; }
#i_f_21 { position: absolute; display: none; }
#i_f_22 { position: absolute; display: none; }
#i_f_23 { position: absolute; display: none; }
#i_f_24 { position: absolute; display: none; }
#i_f_25 { position: absolute; display: none; }
#i_f_26 { position: absolute; display: none; }
#i_f_27 { position: absolute; display: none; }
#i_f_28 { position: absolute; display: none; }
#i_f_29 { position: absolute; display: none; }
#i_f_30 { position: absolute; display: none; }
#i_f_31 { position: absolute; display: none; }
#i_f_32 { position: absolute; display: none; }
#i_f_33 { position: absolute; display: none; }
#i_f_34 { position: absolute; display: none; }
#i_f_35 { position: absolute; display: none; }
#i_f_36 { position: absolute; display: none; }
#i_f_37 { position: absolute; display: none; }
#i_f_38 { position: absolute; display: none; }
#i_f_39 { position: absolute; display: none; }
#i_f_40 { position: absolute; display: none; }
#i_f_41 { position: absolute; display: none; }
#i_f_42 { position: absolute; display: none; }
#i_f_43 { position: absolute; display: none; }
#i_f_44 { position: absolute; display: none; }
#i_f_45 { position: absolute; display: none; }
#i_f_46 { position: absolute; display: none; }
#i_f_47 { position: absolute; display: none; }
#i_f_48 { position: absolute; display: none; }
#i_f_49 { position: absolute; display: none; }
#i_f_50 { position: absolute; display: none; }
#i_f_51 { position: absolute; display: none; }
#i_f_52 { position: absolute; display: none; }
#i_f_53 { position: absolute; display: none; }
#i_f_54 { position: absolute; display: none; }
#i_f_55 { position: absolute; display: none; }
#i_f_56 { position: absolute; display: none; }
#i_f_57 { position: absolute; display: none; }
#i_f_58 { position: absolute; display: none; }
#i_f_59 { position: absolute; display: none; }
#i_f_60 { position: absolute; display: none; }

/*=== dice1 ===*/
#d1_dice_roll { position: relative; display: block; }
#d1end { position: absolute; display: none;}
#d11 { position: absolute; display: none; }
#d12 { position: absolute; display: none; }
#d13 { position: absolute; display: none; }
#d14 { position: absolute; display: none; }
#d15 { position: absolute; display: none; }
#d16 { position: absolute; display: none; }
#d17 { position: absolute; display: none; }
#d18 { position: absolute; display: none; }
#d19 { position: absolute; display: none; }
#d110 { position: absolute; display: none; }
#d111 { position: absolute; display: none; }
#d112 { position: absolute; display: none; }
#d113 { position: absolute; display: none; }
#d114 { position: absolute; display: none; }
#d115 { position: absolute; display: none; }
#d116 { position: absolute; display: none; }
#d117 { position: absolute; display: none; }
#d118 { position: absolute; display: none; }
#d119 { position: absolute; display: none; }
#d120 { position: absolute; display: none; }
#d121 { position: absolute; display: none; }
#d122 { position: absolute; display: none; }
#d123 { position: absolute; display: none; }
#d124 { position: absolute; display: none; }
#d125 { position: absolute; display: none; }
#d126 { position: absolute; display: none; }
#d127 { position: absolute; display: none; }
#d128 { position: absolute; display: none; }
#d129 { position: absolute; display: none; }
#d130 { position: absolute; display: none; }
#d131 { position: absolute; display: none; }
#d132 { position: absolute; display: none; }
#d133 { position: absolute; display: none; }
#d134 { position: absolute; display: none; }
#d135 { position: absolute; display: none; }
#d136 { position: absolute; display: none; }
#d137 { position: absolute; display: none; }
#d138 { position: absolute; display: none; }
#d139 { position: absolute; display: none; }
#d140 { position: absolute; display: none; }
#d141 { position: absolute; display: none; }
#d142 { position: absolute; display: none; }
#d143 { position: absolute; display: none; }
#d144 { position: absolute; display: none; }
#d145 { position: absolute; display: none; }
#d146 { position: absolute; display: none; }
#d147 { position: absolute; display: none; }
#d148 { position: absolute; display: none; }
#d149 { position: absolute; display: none; }
#d150 { position: absolute; display: none; }
#d151 { position: absolute; display: none; }
#d152 { position: absolute; display: none; }
#d153 { position: absolute; display: none; }
#d154 { position: absolute; display: none; }
#d155 { position: absolute; display: none; }
#d156 { position: absolute; display: none; }
#d157 { position: absolute; display: none; }
#d158 { position: absolute; display: none; }
#d159 { position: absolute; display: none; }
#d160 { position: absolute; display: none; }

/*=== dice2 ===*/
#d2_dice_roll { position: relative; display: block; }
#d2end { position: absolute; display: none;}
#d21 { position: absolute; display: none; }
#d22 { position: absolute; display: none; }
#d23 { position: absolute; display: none; }
#d24 { position: absolute; display: none; }
#d25 { position: absolute; display: none; }
#d26 { position: absolute; display: none; }
#d27 { position: absolute; display: none; }
#d28 { position: absolute; display: none; }
#d29 { position: absolute; display: none; }
#d210 { position: absolute; display: none; }
#d211 { position: absolute; display: none; }
#d212 { position: absolute; display: none; }
#d213 { position: absolute; display: none; }
#d214 { position: absolute; display: none; }
#d215 { position: absolute; display: none; }
#d216 { position: absolute; display: none; }
#d217 { position: absolute; display: none; }
#d218 { position: absolute; display: none; }
#d219 { position: absolute; display: none; }
#d220 { position: absolute; display: none; }
#d221 { position: absolute; display: none; }
#d222 { position: absolute; display: none; }
#d223 { position: absolute; display: none; }
#d224 { position: absolute; display: none; }
#d225 { position: absolute; display: none; }
#d226 { position: absolute; display: none; }
#d227 { position: absolute; display: none; }
#d228 { position: absolute; display: none; }
#d229 { position: absolute; display: none; }
#d230 { position: absolute; display: none; }
#d231 { position: absolute; display: none; }
#d232 { position: absolute; display: none; }
#d233 { position: absolute; display: none; }
#d234 { position: absolute; display: none; }
#d235 { position: absolute; display: none; }
#d236 { position: absolute; display: none; }
#d237 { position: absolute; display: none; }
#d238 { position: absolute; display: none; }
#d239 { position: absolute; display: none; }
#d240 { position: absolute; display: none; }
#d241 { position: absolute; display: none; }
#d242 { position: absolute; display: none; }
#d243 { position: absolute; display: none; }
#d244 { position: absolute; display: none; }
#d245 { position: absolute; display: none; }
#d246 { position: absolute; display: none; }
#d247 { position: absolute; display: none; }
#d248 { position: absolute; display: none; }
#d249 { position: absolute; display: none; }
#d250 { position: absolute; display: none; }
#d251 { position: absolute; display: none; }
#d252 { position: absolute; display: none; }
#d253 { position: absolute; display: none; }
#d254 { position: absolute; display: none; }
#d255 { position: absolute; display: none; }
#d256 { position: absolute; display: none; }
#d257 { position: absolute; display: none; }
#d258 { position: absolute; display: none; }
#d259 { position: absolute; display: none; }
#d260 { position: absolute; display: none; }

/*=== dice3 ===*/
#d3_dice_roll { position: relative; display: block; }
#d3end { position: absolute; display: none;}
#d31 { position: absolute; display: none; }
#d32 { position: absolute; display: none; }
#d33 { position: absolute; display: none; }
#d34 { position: absolute; display: none; }
#d35 { position: absolute; display: none; }
#d36 { position: absolute; display: none; }
#d37 { position: absolute; display: none; }
#d38 { position: absolute; display: none; }
#d39 { position: absolute; display: none; }
#d310 { position: absolute; display: none; }
#d311 { position: absolute; display: none; }
#d312 { position: absolute; display: none; }
#d313 { position: absolute; display: none; }
#d314 { position: absolute; display: none; }
#d315 { position: absolute; display: none; }
#d316 { position: absolute; display: none; }
#d317 { position: absolute; display: none; }
#d318 { position: absolute; display: none; }
#d319 { position: absolute; display: none; }
#d320 { position: absolute; display: none; }
#d321 { position: absolute; display: none; }
#d322 { position: absolute; display: none; }
#d323 { position: absolute; display: none; }
#d324 { position: absolute; display: none; }
#d325 { position: absolute; display: none; }
#d326 { position: absolute; display: none; }
#d327 { position: absolute; display: none; }
#d328 { position: absolute; display: none; }
#d329 { position: absolute; display: none; }
#d330 { position: absolute; display: none; }
#d331 { position: absolute; display: none; }
#d332 { position: absolute; display: none; }
#d333 { position: absolute; display: none; }
#d334 { position: absolute; display: none; }
#d335 { position: absolute; display: none; }
#d336 { position: absolute; display: none; }
#d337 { position: absolute; display: none; }
#d338 { position: absolute; display: none; }
#d339 { position: absolute; display: none; }
#d340 { position: absolute; display: none; }
#d341 { position: absolute; display: none; }
#d342 { position: absolute; display: none; }
#d343 { position: absolute; display: none; }
#d344 { position: absolute; display: none; }
#d345 { position: absolute; display: none; }
#d346 { position: absolute; display: none; }
#d347 { position: absolute; display: none; }
#d348 { position: absolute; display: none; }
#d349 { position: absolute; display: none; }
#d350 { position: absolute; display: none; }
#d351 { position: absolute; display: none; }
#d352 { position: absolute; display: none; }
#d353 { position: absolute; display: none; }
#d354 { position: absolute; display: none; }
#d355 { position: absolute; display: none; }
#d356 { position: absolute; display: none; }
#d357 { position: absolute; display: none; }
#d358 { position: absolute; display: none; }
#d359 { position: absolute; display: none; }
#d360 { position: absolute; display: none; }

/*=== dice4 ===*/
#d4_dice_roll { position: relative; display: block; }
#d4end { position: absolute; display: none;}
#d41 { position: absolute; display: none; }
#d42 { position: absolute; display: none; }
#d43 { position: absolute; display: none; }
#d44 { position: absolute; display: none; }
#d45 { position: absolute; display: none; }
#d46 { position: absolute; display: none; }
#d47 { position: absolute; display: none; }
#d48 { position: absolute; display: none; }
#d49 { position: absolute; display: none; }
#d410 { position: absolute; display: none; }
#d411 { position: absolute; display: none; }
#d412 { position: absolute; display: none; }
#d413 { position: absolute; display: none; }
#d414 { position: absolute; display: none; }
#d415 { position: absolute; display: none; }
#d416 { position: absolute; display: none; }
#d417 { position: absolute; display: none; }
#d418 { position: absolute; display: none; }
#d419 { position: absolute; display: none; }
#d420 { position: absolute; display: none; }
#d421 { position: absolute; display: none; }
#d422 { position: absolute; display: none; }
#d423 { position: absolute; display: none; }
#d424 { position: absolute; display: none; }
#d425 { position: absolute; display: none; }
#d426 { position: absolute; display: none; }
#d427 { position: absolute; display: none; }
#d428 { position: absolute; display: none; }
#d429 { position: absolute; display: none; }
#d430 { position: absolute; display: none; }
#d431 { position: absolute; display: none; }
#d432 { position: absolute; display: none; }
#d433 { position: absolute; display: none; }
#d434 { position: absolute; display: none; }
#d435 { position: absolute; display: none; }
#d436 { position: absolute; display: none; }
#d437 { position: absolute; display: none; }
#d438 { position: absolute; display: none; }
#d439 { position: absolute; display: none; }
#d440 { position: absolute; display: none; }
#d441 { position: absolute; display: none; }
#d442 { position: absolute; display: none; }
#d443 { position: absolute; display: none; }
#d444 { position: absolute; display: none; }
#d445 { position: absolute; display: none; }
#d446 { position: absolute; display: none; }
#d447 { position: absolute; display: none; }
#d448 { position: absolute; display: none; }
#d449 { position: absolute; display: none; }
#d450 { position: absolute; display: none; }
#d451 { position: absolute; display: none; }
#d452 { position: absolute; display: none; }
#d453 { position: absolute; display: none; }
#d454 { position: absolute; display: none; }
#d455 { position: absolute; display: none; }
#d456 { position: absolute; display: none; }
#d457 { position: absolute; display: none; }
#d458 { position: absolute; display: none; }
#d459 { position: absolute; display: none; }
#d460 { position: absolute; display: none; }

/*=== dice5 ===*/
#d5_dice_roll { position: relative; display: block; }
#d5end { position: absolute; display: none;}
#d51 { position: absolute; display: none; }
#d52 { position: absolute; display: none; }
#d53 { position: absolute; display: none; }
#d54 { position: absolute; display: none; }
#d55 { position: absolute; display: none; }
#d56 { position: absolute; display: none; }
#d57 { position: absolute; display: none; }
#d58 { position: absolute; display: none; }
#d59 { position: absolute; display: none; }
#d510 { position: absolute; display: none; }
#d511 { position: absolute; display: none; }
#d512 { position: absolute; display: none; }
#d513 { position: absolute; display: none; }
#d514 { position: absolute; display: none; }
#d515 { position: absolute; display: none; }
#d516 { position: absolute; display: none; }
#d517 { position: absolute; display: none; }
#d518 { position: absolute; display: none; }
#d519 { position: absolute; display: none; }
#d520 { position: absolute; display: none; }
#d521 { position: absolute; display: none; }
#d522 { position: absolute; display: none; }
#d523 { position: absolute; display: none; }
#d524 { position: absolute; display: none; }
#d525 { position: absolute; display: none; }
#d526 { position: absolute; display: none; }
#d527 { position: absolute; display: none; }
#d528 { position: absolute; display: none; }
#d529 { position: absolute; display: none; }
#d530 { position: absolute; display: none; }
#d531 { position: absolute; display: none; }
#d532 { position: absolute; display: none; }
#d533 { position: absolute; display: none; }
#d534 { position: absolute; display: none; }
#d535 { position: absolute; display: none; }
#d536 { position: absolute; display: none; }
#d537 { position: absolute; display: none; }
#d538 { position: absolute; display: none; }
#d539 { position: absolute; display: none; }
#d540 { position: absolute; display: none; }
#d541 { position: absolute; display: none; }
#d542 { position: absolute; display: none; }
#d543 { position: absolute; display: none; }
#d544 { position: absolute; display: none; }
#d545 { position: absolute; display: none; }
#d546 { position: absolute; display: none; }
#d547 { position: absolute; display: none; }
#d548 { position: absolute; display: none; }
#d549 { position: absolute; display: none; }
#d550 { position: absolute; display: none; }
#d551 { position: absolute; display: none; }
#d552 { position: absolute; display: none; }
#d553 { position: absolute; display: none; }
#d554 { position: absolute; display: none; }
#d555 { position: absolute; display: none; }
#d556 { position: absolute; display: none; }
#d557 { position: absolute; display: none; }
#d558 { position: absolute; display: none; }
#d559 { position: absolute; display: none; }
#d560 { position: absolute; display: none; }
